.ColumnHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .headerContainer {
        width: 300px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 25px 0 25px;

        .heading {
            height: 30px;
            font-size: 30px;
            margin: 15px 0;
            padding: 7px 5px;
            border-radius: 10px;
            font-family: inherit;
            font-weight: 900;
            outline: none;

            &.input {
                background-color: rgb(240, 239, 239);
                border: none;
                box-shadow: 0 0 0 1px lightgrey;
                width: 250px;
            }

            &.text {
                border: none;
                cursor: default;
                max-width: 240px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                background: rgb(210, 232, 240);
            }
        }

        i {
            display: inline-block;
            font-size: 30px;
            cursor: pointer;
            padding: 1px;

            &.hidden {
                display: none;
            }
        }
    }

    .ContextMenu {
        position: absolute;
        right: -115px;
        top: 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px 0 grey;
        overflow: hidden;
        z-index: 10;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                text-align: center;
                padding: 5px;
                cursor: pointer;
                background: white;
                transition: background 0.15s ease-in;

                &:first-child {
                    border-bottom: 1px solid lightgrey;
                }

                &:hover {
                    background: rgb(230, 231, 236);
                }
            }
        }
    }
}
