.AddNewColumn {
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &.open {
        outline: 2px solid #5f6080;
    }

    .input {
        border: none;
        font-size: 1.5rem;
        line-height: 2rem;
        font-family: inherit;
        font-weight: 400;
        box-sizing: border-box;
        outline: none;
        width: 0;
        color: inherit;
        transition: width 0.3s ease-in-out;
        background-color: transparent;
        align-self: flex-end;

        &.open {
            width: 250px;
            padding-left: 5px;
        }
    }

    .plus {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        color: #5f6080;
        transition: color 0.1s ease-in;
        border-radius: 10px;

        &:hover {
            color: lighten(#5f6080, 20%);
        }
    }
}

@media (max-width: 1199px) {
    .AddNewColumn {
        .input {
            &.open {
                width: 200px;
            }
        }
    }
}

@media (max-width: 991px) {
    .AddNewColumn {
        .input {
            &.open {
                width: 180px;
            }
        }
    }
}
