.AddNewColumn {
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &.open {
        outline: 2px solid rgb(167, 167, 167);
    }

    .input {
        border: none;
        font-size: 30px;
        font-family: inherit;
        font-weight: 400;
        box-sizing: border-box;
        outline: none;
        width: 0;
        transition: width 0.3s ease-in-out;

        &.open {
            width: 250px;
            padding-left: 5px;
        }
    }

    .plus {
        cursor: pointer;
        font-size: 35px;
        color: lightslategray;
        transition: background 0.15s ease-in;
        border-radius: 10px;
        padding: 5px;
        box-sizing: border-box;

        &:hover {
            background: rgb(238, 238, 238);
        }
    }
}
