.Client {
    margin: 0 150px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    margin-bottom: 1px;
    cursor: pointer;
    transition: background 0.1s ease-in;

    &:hover {
        background: rgb(243, 243, 243);
    }

    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        padding-right: 10px;

        &:nth-child(1) {
            width: 30%;
        }

        &:nth-child(2) {
            width: 30%;
        }

        &:nth-child(3) {
            width: 20%;
        }

        &:nth-child(4) {
            width: 20%;
            text-align: right;
            padding-right: 0;
        }
    }
}
