.Clients {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    .header {
        width: 87%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #5f6080;
        padding: 20px 45px;

        .heading {
            margin: 0;
            font-size: 37px;
            text-align: left;
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 14px;

            i {
                cursor: pointer;
                font-size: 35px;
                color: #5f6080;
                transition: color 0.1s ease-in;
                border-radius: 10px;
                padding: 5px;
                box-sizing: border-box;

                &:hover {
                    color: lighten(#5f6080, 20%);
                }
            }
        }
    }
}
