.Container {
    background: #f7f8fc;
    width: 520px;
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 35px 50px;
    position: relative;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 1.25rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    p {
        text-align: center;
        line-height: 25px;
        margin-bottom: 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5px;
        padding: 5px 0;
        box-sizing: border-box;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
}

@media (max-width: 1199px) {
    .Container {
        width: 500px;
    }
}

@media (max-width: 991px) {
    .Container {
        width: 450px;
        padding: 20px 45px;

        .buttons {
            margin-top: 20px;
        }
    }
}

@media (max-width: 767px) {
    .Container {
        width: 420px;
        padding: 15px 40px;

        .buttons {
            margin-top: 15px;
        }
    }
}

@media (max-width: 480px) {
    .Container {
        width: 345px;
        padding: 10px 25px;

        h2 {
            margin-bottom: 5px;
        }

        .buttons {
            margin-top: 10px;
        }
    }
}
