.ArchiveBody {
    max-width: 100vw;
    box-sizing: border-box;
    padding: 70px 175px;

    .list {
        list-style: none;
        margin: 0;
        padding: 0;

        .item {
            cursor: pointer;
            border-bottom: 1px solid #5f6080;
            padding: 10px;
            transition: background 0.1s ease-in-out;

            span {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                margin-bottom: -5px;
            }

            .taskHeading {
                max-width: 35%;
            }

            .taskText {
                max-width: 65%;
            }

            &:hover {
                border-radius: 5px;
                background: darken(#f7f8fc, 5%);
            }
        }
    }

    .noArchivePlaceholder {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            width: 200px;
            height: 200px;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.5rem;
            text-align: center;
        }
    }
}

@media (max-width: 1199px) {
    .ArchiveBody {
        padding: 35px 125px;
    }
}

@media (max-width: 991px) {
    .ArchiveBody {
        padding: 25px 100px;
    }
}

@media (max-width: 767px) {
    .ArchiveBody {
        padding: 20px 35px;
    }
}

@media (max-width: 480px) {
    .ArchiveBody {
        padding: 15px 30px;
    }
}
