.ArchiveBody {
    padding: 70px 150px;
    .list {
        list-style: none;
        margin: 0;
        padding: 0;

        .item {
            cursor: pointer;
            border-bottom: 1px solid #d5d6e0;
            padding: 10px;
            width: 100%;
            transition: background 0.1s ease-in-out;

            .taskHeading {
                display: inline-block;
                width: 35%;
                text-overflow: ellipsis;
                font-weight: 600;
            }

            .taskText {
                display: inline-block;
                width: 65%;
                text-overflow: ellipsis;
                font-weight: 400;
            }

            &:hover {
                border-radius: 5px;
                background: darken(#f7f8fc, 5%);
            }
        }
    }
}
