.Column {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background: rgb(210, 232, 240);
    border-radius: 10px;
    margin: 20px;
    box-sizing: border-box;

    ul {
        padding: 0 25px;
    }

    .Plus {
        font-size: 25px;
        align-self: flex-end;
        cursor: pointer;
        padding: 25px;
        padding-top: 0;
    }
}
