.Header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #f7f8fc;
    transform: translateX(-300px);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;

    &.open {
        transform: translateX(0);
        z-index: 100;

        .burger {
            color: transparent;
        }
    }

    .burger {
        width: 30px;
        height: 30px;
        position: absolute;
        right: -70px;
        top: 30px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    .authorization {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        max-width: 200px;
        gap: 10px;

        svg {
            width: 70px;
            height: 70px;
        }

        .userName {
            //text-align: center;
            font-size: 30px;
            line-height: 35px;
            cursor: pointer;
            text-transform: capitalize;
        }
    }

    .spaces {
    }

    .navigation {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 20px;
                margin: 20px;
                cursor: pointer;
                vertical-align: middle;

                a {
                    width: 100%;
                    height: 40px;
                    padding: 0 10px;
                    display: inline-block;
                    color: inherit;
                    text-decoration: none;
                    transition: color 0.1s ease-in-out;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    &:hover {
                        color: lighten(#5f6080, 20%);
                    }

                    &.active {
                        background: #fff;
                        border-radius: 7px;
                        box-shadow: 0 0 5px 1px lighten(#5f6080, 40%);
                    }

                    svg {
                        width: 27px;
                        height: 27px;
                    }

                    span {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    transition: background 0.3s ease-in-out;
    z-index: 0;

    &.open {
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    &.hidden {
        display: none;
    }
}
