.Header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #f7f8fc;
    transform: translateX(-300px);
    transition: transform 0.3s ease-out;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

    &.open {
        transform: translateX(0);
        z-index: 100;

        .burger {
            color: transparent;
        }
    }

    .burger {
        width: 30px;
        height: 30px;
        position: absolute;
        right: -70px;
        top: 30px;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
    }

    .account {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;

        .authorization {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            i {
                font-size: 2.7rem;
            }

            .userName {
                font-size: 1.5rem;
                line-height: 1.6rem;
                text-transform: capitalize;
                text-align: center;
            }
        }

        .currentSpace {
            text-align: center;
        }
    }

    .navigation ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 1rem;
            margin: 20px;
            cursor: pointer;
            vertical-align: middle;

            a {
                width: 100%;
                height: 40px;
                padding: 0 10px;
                display: inline-block;
                color: inherit;
                text-decoration: none;
                transition: color 0.1s ease-in-out;
                display: flex;
                align-items: center;
                gap: 10px;

                &:hover {
                    color: lighten(#5f6080, 20%);
                }

                &.active {
                    background: #fff;
                    border-radius: 7px;
                    box-shadow: 0 0 5px 1px lighten(#5f6080, 40%);
                }

                svg {
                    width: 27px;
                    height: 27px;
                }

                span {
                    padding-top: 2px;
                    font-size: 1rem;
                }
            }
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .settings,
        .exit {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 5px;
            gap: 5px;
            transition: color 0.1s ease-in-out;

            &:hover {
                color: lighten(#5f6080, 20%);
            }

            svg {
                width: 27px;
                height: 27px;
            }

            span {
                padding-top: 2px;
                font-size: 1rem;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    transition: background 0.3s ease-in-out;
    z-index: 0;

    &.open {
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    &.hidden {
        display: none;
    }
}

@media (max-width: 1199px) {
    .Header {
        width: 270px;

        .burger {
            right: -90px;
        }

        .navigation ul {
            li {
                margin: 15px;
            }
        }
    }
}

@media (max-width: 991px) {
    .Header {
        width: 250px;

        .burger {
            top: 20px;
            right: -95px;
        }

        .navigation ul {
            li {
                margin: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .Header {
        width: 245px;

        .account {
            margin-top: 0;
        }

        .burger {
            top: 40px;
            right: -115px;
        }

        .navigation ul {
            li {
                margin: 5px 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .Header {
        width: 240px;

        .burger {
            top: 40px;
            right: -110px;
        }
    }
}
