.Overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 0.2s;

    .Modal {
        background-color: #fff;
        width: 550px;
        height: 650px;
        border-radius: 25px;
        box-sizing: border-box;
        padding: 25px;
        position: relative;

        i {
            cursor: pointer;
            position: absolute;
            top: 25px;
            right: 25px;
            font-size: 20px;
            transition: all 0.1s ease-in;

            &:hover {
                font-size: 22px;
            }
        }

        h2 {
            text-align: center;
            font-size: 27px;
            padding: 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 35px;
            padding: 15px;

            input,
            textarea {
                width: 450px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #000;
                outline: none;
                font-family: inherit;
                font-size: 18px;

                &:invalid:focus {
                    border-bottom: 1px solid red;
                }
            }

            textarea {
                border: 1px solid #000;
                width: 450px !important;
                height: 70px !important;
                resize: none;
                border-radius: 5px;
            }

            button {
                border: none;
                border-radius: 15px;
                align-self: center;
                font-family: inherit;
                font-size: 15px;
                padding: 10px;
                cursor: pointer;
                margin-top: 15px;
                background: lightgray;

                &:hover {
                    box-shadow: 0 0 3px 0 rgb(104, 104, 104);
                }
            }
        }
    }
}
