.SpacesBody {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;

    .list {
        width: 50%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .item {
            width: 75%;
            height: 70px;
            border-radius: 5px;
            padding: 15px;
            background: #f7f8fc;
            box-shadow: 0 0 7px 1px darken(#f7f8fc, 15%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            box-sizing: border-box;

            div {
                display: flex;
                flex-direction: column;
                gap: 5px;
                max-width: 90%;

                .title {
                    font-size: 18px;
                    text-overflow: ellipsis;
                }

                .description {
                    font-size: 15px;
                    color: lighten(#5f6080, 15%);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            i {
                cursor: pointer;
                font-size: 20px;
                padding: 5px;
            }
        }
    }
}
