.ClientsBody {
    padding: 50px 175px;
    box-sizing: border-box;
    position: relative;

    .clientsListHeader {
        margin: 0;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;

        p {
            opacity: 0.7;
            flex-grow: 1;

            &:nth-child(1) {
                min-width: 30%;
            }

            &:nth-child(2) {
                min-width: 30%;
            }

            &:nth-child(3) {
                min-width: 15%;
            }

            &:nth-child(4) {
                min-width: 25%;
                text-align: right;
            }
        }
    }

    .clientsList {
        list-style: none;
        margin: 0;
        padding: 0;

        .client {
            margin: 0;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 0 5px 1px lighten(#5f6080, 35%);
            background: #f7f8fc;
            border-radius: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: background 0.1s ease-in;
            flex-grow: 1;

            &:hover {
                background: darken(#f7f8fc, 2%);
            }

            p {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                box-sizing: border-box;
                padding-right: 10px;

                &:nth-child(1) {
                    min-width: 30%;
                }

                &:nth-child(2) {
                    min-width: 30%;
                }

                &:nth-child(3) {
                    min-width: 15%;
                }

                &:nth-child(4) {
                    min-width: 25%;
                    text-align: right;
                    padding-right: 0;
                }
            }
        }
    }

    .noClientsPlaceholder {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            width: 200px;
            height: 200px;
            cursor: pointer;
        }

        p {
            font-size: 22px;
            line-height: 27px;
            text-align: center;
        }
    }
}

@media (max-width: 1199px) {
    .ClientsBody {
        padding: 35px 125px;

        .clientsListHeader {
            p {
                &:nth-child(1) {
                    min-width: 35%;
                }

                &:nth-child(2) {
                    min-width: 35%;
                }

                &:nth-child(3) {
                    display: none;
                }

                &:nth-child(4) {
                    min-width: 30%;
                }
            }
        }

        .clientsList {
            .client {
                p {
                    &:nth-child(1) {
                        min-width: 35%;
                    }

                    &:nth-child(2) {
                        min-width: 35%;
                    }

                    &:nth-child(3) {
                        display: none;
                    }

                    &:nth-child(4) {
                        min-width: 30%;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .ClientsBody {
        padding: 25px 100px;
    }
}

@media (max-width: 767px) {
    .ClientsBody {
        padding: 20px 40px;
    }
}

@media (max-width: 480px) {
    .ClientsBody {
        padding: 15px 30px;

        .clientsListHeader {
            p {
                &:nth-child(1) {
                    min-width: 50%;
                }

                &:nth-child(2) {
                    min-width: 50%;
                }

                &:nth-child(4) {
                    display: none;
                }
            }
        }

        .clientsList {
            .client {
                p {
                    &:nth-child(1) {
                        min-width: 50%;
                    }

                    &:nth-child(2) {
                        min-width: 50%;
                    }

                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
        }
    }
}
