.Container {
    background: #f7f8fc;
    width: 450px;
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 1.2rem;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    p {
        text-align: center;
        line-height: 25px;
        margin-bottom: 20px;
        font-size: 0.9rem;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
}

@media (max-width: 1199px) {
    .Container {
        width: 400px;

        .buttons {
            margin-top: 0;
        }
    }
}

@media (max-width: 991px) {
    .Container {
        width: 370px;
    }
}

@media (max-width: 767px) {
    .Container {
        width: 320px;
    }
}
