.Container {
    background: #f7f8fc;
    width: 470px;
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;

    .arrow {
        cursor: pointer;
        position: absolute;
        top: 22px;
        left: 20px;
        font-size: 1rem;
    }

    h2 {
        text-align: center;
        font-size: 1.4rem;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    p {
        text-align: center;
        line-height: 25px;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5px;
        padding: 5px 25px;
        box-sizing: border-box;
    }

    .forgotPassword {
        cursor: pointer;
        transition: color 0.1s ease-in-out;
        font-size: 0.9rem;

        &:hover {
            color: lighten(#5f6080, 20%);
        }
    }

    .resetPasswordText {
        text-align: center;
        padding: 5px;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .error {
        height: 18px;

        span {
            font-size: 0.8rem;
            display: block;
            text-align: center;
            color: crimson;
        }
    }
}

@media (max-width: 1199px) {
    .Container {
        width: 425px;
    }
}

@media (max-width: 991px) {
    .Container {
        width: 425px;
    }
}

@media (max-width: 480px) {
    .Container {
        width: 350px;
        padding: 10px;

        .buttons {
            margin-bottom: 10px;
        }
    }
}
