.BoardBody {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 45px 120px;
    overflow-x: scroll;

    .column {
        width: 300px;
        display: flex;
        flex-direction: column;
        background: #f7f8fc;
        box-shadow: 0 0 7px 1px lighten(#5f6080, 35%);
        border-radius: 5px;
        box-sizing: border-box;
        position: relative;
        margin-right: 35px;

        &::after {
            content: '';
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            position: absolute;
            width: 100%;
            height: 5px;
        }

        &.first::after {
            background: linear-gradient(90deg, #bc6cdb 0%, #f45e84 100%);
        }
        &.second::after {
            background: linear-gradient(90deg, #ed765e 0%, #fea858 100%);
        }
        &.third::after {
            background: linear-gradient(90deg, #3aee70 0%, #2dd1ff 100%);
        }
        &.fourth::after {
            background: linear-gradient(90deg, #c22ed0 0%, #5ffae0 100%);
        }
        &.fifth::after {
            background: linear-gradient(90deg, #0ccda3 0%, #c1fcd3 100%);
        }
        &.sixth::after {
            background: linear-gradient(90deg, #f6ea41 0%, #f048c6 100%);
        }
        &.seventh::after {
            background: linear-gradient(90deg, #eae5c9 0%, #6cc6cb 100%);
        }

        ul {
            padding: 0 25px;
        }

        .actions {
            display: flex;
            justify-content: space-between;

            .plus,
            .trash {
                width: 30px;
                height: 30px;
                align-self: flex-end;
                cursor: pointer;
                padding: 25px;
                padding-top: 0;
            }
        }
    }
}
