.Container {
    background: #f7f8fc;
    width: 520px;
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;

    .cross {
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 20px;
    }

    h2 {
        text-align: center;
        font-size: 25px;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    p {
        text-align: center;
        line-height: 25px;
        margin-bottom: 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5px;
        padding: 5px 25px;
        box-sizing: border-box;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
    }
}

@media (max-width: 1199px) {
    .Container {
        width: 500px;
    }
}

@media (max-width: 991px) {
    .Container {
        width: 450px;
        padding: 20px;

        .buttons {
            margin-top: 20px;
        }
    }
}

@media (max-width: 767px) {
    .Container {
        width: 420px;
        padding: 15px;

        .buttons {
            margin-top: 15px;
        }
    }
}

@media (max-width: 480px) {
    .Container {
        width: 345px;
        padding: 5px;

        .buttons {
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }
}
