html {
    font-family: Comfortaa, sans-serif;
    height: 100vh;
    min-width: 100vh;

    body {
        margin: 0;
        background: linear-gradient(135deg, white 0%, rgb(213, 245, 255) 100%);
        color: #5f6080;
    }
}
