.Overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 0.2s ease-out;

    &.exiting {
        opacity: 0;
    }

    &.entered {
        opacity: 1;
    }

    &.entering {
        opacity: 0;
    }

    &.exited {
        opacity: 0;
    }

    .Modal {
        background: #f7f8fc;
        border-radius: 15px;
        box-sizing: border-box;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        position: relative;

        &.exiting {
            opacity: 0;
            transform: translateY(-50px);
        }

        &.entered {
            opacity: 1;
            transform: translateY(0);
        }

        &.entering {
            opacity: 0;
            transform: translateY(-50px);
        }

        .cross {
            cursor: pointer;
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 1.2rem;
            z-index: 1;
            transition: color 0.1s ease-in;

            &:hover {
                color: lighten(#5f6080, 15%);
            }
        }
    }
}
